@import "tailwindcss";

@font-face {
  font-family: Nabla;
  src: url('/fonts/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf');
}


@font-face {
  font-family: Playfair;
  src: url('/fonts/Playfair-VariableFont_opsz\,wdth\,wght.ttf');
}

@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-VariableFont_opsz\,wght.ttf');
  font-style: normal;
}


@font-face {
  font-family: FreshMan;
  src: url('/fonts/Freshman.ttf');
  font-style: normal;
}

@theme {
  --font-nabla: Nabla,sans-serif;
  --font-playfair: Playfair,sans-serif;
  --font-freshMan: FreshMan,sans-serif;

  --font-body: Inter, sans-serif;
  --color-beige: #F5F0E4;
  --color-black: #2c2c2c;
  --color-bg: #141008;
  --color-brown: #571F01;
  --color-orange: #FF6B57;
  --color-blue: #489CD3;
  --color-yellow: #FDD326;
  --color-green: #9D9C3D;
  --color-gold: #FFD700;
}
body{
  /* font-family: var(--font-playfair); */
  font-family:var(--font-body);
}

.gold{
  color: var(--color-gold);
  font-family: var(--font-playfair);
}
.freshman{
  font-family: var(--font-freshMan);
  
}




@layer base {
  body {
    @apply  bg-white text-black font-body text-lg overflow-x-clip ;
  }
  h2 {
    @apply font-semibold text-7xl;
  }
}

@layer components {
  .inner-container {
    @apply px-28;
  }
  img {
    width: 100%;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}


@utility flex-top {
  @apply flex items-start justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20;
}

@utility abs-center-bottom{
  @apply absolute bottom-10 left-1/2 -translate-x-1/2 z-40;
}
@utility small-medium {
  @apply font-medium text-xs;
}


.history img{
  width: 450px;
  height: 450px;
  object-fit: cover;
}

.block-line-wrapper {
  position: relative;
  overflow: hidden; /* เพิ่มบรรทัดนี้ */
  display: inline-block; /* เปลี่ยนจาก block */
  width: max-content;
}

.block-line {
  position: relative;
  display: inline-block; /* เปลี่ยนจาก block */
}

.block-revealer {
  position: absolute; /* เปลี่ยนจาก relative */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  will-change: transform;
  z-index: 1;
}